/*
https://www.subpng.com/png-u4t9lg/ omega logga
*/

*
{
    box-sizing: border-box;
}

body
{
    margin: 0%;
    background-color: #404040;
}

nav
{
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

nav div
{
    color: #FFD700;
}

h1
{
    font-family: 'Montserrat', sans-serif;
}

a
{
    text-decoration: none;
    color: #FFD700;
}

main
{
    height: 55rem;
    background-image: url("telefon1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textöverbild
{
    display: flex;
    justify-content: center;
    position: center;
    margin: 0;
    width: 20rem;
    border-style: solid;
    border-width: 3px;
}

.textöverbild a
{
    color: black;
}

footer
{
    height: 5rem;
}