/*
https://www.subpng.com/png-u4t9lg/ omega logga
*/

*
{
    box-sizing: border-box;
}

body
{
    margin: 0%;
    background-color: #404040;
}

nav
{
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

nav div
{
    color: #FFD700;
}

h1
{
    font-family: 'Montserrat', sans-serif;
}

a
{
    text-decoration: none;
    color: #FFD700;
}

footer
{
    height: 5rem;
}

.bildruta img
{
    height: 600px;
    width: 600px;
}
main
{
    display: flex;
    justify-content: space-evenly;
}

.specruta
{
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.212);
    height: 570px;
    width: 600px;
    border-radius: 10px;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}

ul
{
    font-family: 'Montserrat', sans-serif;
}

li
{
    margin-bottom: 10px;
}